.env
__pycache__/caption_generator.cpython-310.pyc
__pycache__/help.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/util.cpython-310.pyc
.idea/.gitignore
.idea/daerbot.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace-DESKTOP-AOBHCS0.xml
.idea/workspace-DESKTOP-VO733JV.xml
.idea/inspectionProfiles/profiles_settings.xml
cogs/__pycache__/Caption.cpython-310.pyc
cogs/__pycache__/DonutHypeman.cpython-310.pyc
cogs/__pycache__/LemePost.cpython-310.pyc
cogs/__pycache__/Priv9.cpython-310.pyc
tic_tac_toe/__pycache__/tic_tac_toe_logic.cpython-310.pyc
tic_tac_toe/__pycache__/visual_board.cpython-310.pyc
cogs/__pycache__/tictactoe.cpython-310.pyc
cogs/__pycache__/donut_hypeman.cpython-310.pyc
cogs/__pycache__/leme_post.cpython-310.pyc
cogs/__pycache__/tictactoe.cpython-310.pyc
cogs/__pycache__/this_image.cpython-310.pyc
.idea/workspace.xml
__pycache__/on_message.cpython-310.pyc
resources/priv9/__pycache__/priv9_dev_schedule.cpython-310.pyc
cogs/__pycache__/quote.cpython-310.pyc
cogs/__pycache__/quote.cpython-310.pyc
cogs/__pycache__/quote.cpython-310.pyc
cogs/__pycache__/economy.cpython-310.pyc
cogs/__pycache__/gamble.cpython-310.pyc
cogs/__pycache__/misc.cpython-310.pyc
cogs/__pycache__/misc.cpython-310.pyc
cogs/__pycache__/misc.cpython-310.pyc
__pycache__/bank.cpython-310.pyc
__pycache__/config.cpython-310.pyc
cogs/__pycache__/admin.cpython-310.pyc
cogs/__pycache__/autodelete.cpython-310.pyc
cogs/__pycache__/misc.cpython-310.pyc
cogs/__pycache__/quote.cpython-310.pyc
.vscode/launch.json
cogs/__pycache__/autodelete.cpython-311.pyc
cogs/__pycache__/economy.cpython-311.pyc
cogs/__pycache__/gamble.cpython-311.pyc
cogs/__pycache__/leme_post.cpython-311.pyc
cogs/__pycache__/misc.cpython-311.pyc
cogs/__pycache__/priv9.cpython-311.pyc
cogs/__pycache__/quote.cpython-311.pyc
cogs/__pycache__/this_image.cpython-311.pyc
cogs/__pycache__/tictactoe.cpython-311.pyc
resources/priv9/__pycache__/priv9_dev_schedule.cpython-311.pyc
__pycache__/bank.cpython-311.pyc
__pycache__/caption_generator.cpython-311.pyc
__pycache__/config.cpython-311.pyc
__pycache__/help.cpython-311.pyc
__pycache__/on_message.cpython-311.pyc
__pycache__/util.cpython-311.pyc
resources/quotes/donut_quotes.json
resources/quotes/surfer_quotes.json
resources/storage/autodelete.json
resources/storage/economy.json
resources/storage/gamble.json
resources/quotes/donut_quotes.json
